body{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{ 
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table{
  font-weight: bold;
  border-collapse: collapse;
  width: 60%;
  height: 60%;
}
table th{
  border-bottom: 2px solid #BFADFF;
  border-image: linear-gradient(to right #996DFF, #C47FFF) 1;
  border-image-slice: 1;
  border-right: 2px solid #BFADFF;
  justify-content: center;
}
table td{
  border-bottom: 2px solid #BFADFF;
  border-image: linear-gradient(to right, #996DFF, #C47FFF) 1;
  border-image-slice: 1;
  text-align: center;
  background-image: linear-gradient(to bottom, #996DFF, #C47FFF);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: xx-large;
}
